.searchBar-div {
    z-index: 2;
    position: relative; /* Set the position to relative */

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 40px;
}
  
#search-bar {
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;

    width: 25%;

    text-align: center;
    font-size: larger;
}

#search-bar::placeholder{
    color: black;
}

.search-btn{
    padding: 15px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 25px;

    width: 5%;

    text-align: center;
    font-size: larger;

    background-color: transparent;
    cursor: pointer;
}

*:focus {
    outline: none;
}
